<h1>トレーニング一覧</h1>
<%= link_to '新規投稿する', new_training_path %>
<table border="1" style="border-collapse: collapse">
    <tr>
      <th>タイトル</th>
      <th>本文</th>
      <th colspan="3"></th>
    </tr>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.title %></td>
        <td><%= safe_join(training.body.split("\n"),tag(:br)) %></td>
        <td><%= link_to 'show', training_path(training.id) %></td>
        <td><%= link_to 'edit', edit_training_path(training.id) %></td>
        <td><%= link_to "delete", training_path(training), method: :delete %></td>
      </tr>
    <% end %>
</table>

